<a href="https://colab.research.google.com/github/yumi-kim/big_data_class/blob/master/%EC%BD%94%EB%94%A95%EC%9D%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# kangyangjae@gnu.ac.kr

아무말이나 쓰면 됨. 

*   항목 추가
*   항목 추가

---

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
cd /content/gdrive/My\ Drive
cd bbd2019
pwd
cp ../2019바이오빅데이터\ 수업자료/gt_food_23accesions.pkl .
cd ..
cd analysis/경상대/2019/8.\ 강의/
cd 2019바이오빅데이터/2019바이오빅데이터\ 수업자료/

/content/gdrive/My Drive

In [0]:
import pandas as pd

In [0]:
df_gt = pd.read_pickle('./gt_food_23accesions.pkl')

In [0]:
df_gt.to_csv('./gt_food_23accessions.csv')

In [0]:
df_gt.head()

,SRR7501150,SRR7501160,SRR7501167,SRR7501181,SRR7505765,SRR7505768,SRR7505771,SRR7505773,SRR7505774,SRR7505779,...,SRR7505877,SRR7505879,SRR7505880,SRR7505882,SRR7505889,SRR7505890,SRR7511299,SRR7527615,SRR7834586,SRR7850029
0,CC,CC,AA,AA,AA,CC,CC,AA,CC,CC,...,CC,AA,AA,CC,AA,CC,CC,CC,AA,AA
1,CC,CC,CC,CC,CC,CC,CC,CC,CC,CC,...,TT,CC,CC,CC,CC,CC,TT,CC,TT,TT
2,GG,GG,GG,GG,GG,GG,GG,GG,GG,GG,...,GG,GG,GG,GG,GG,GG,GG,GG,TT,TT
3,TT,TT,TT,TT,TT,TT,TT,TT,TT,TT,...,TT,TT,TT,TT,TT,TT,TT,TT,CC,CC
4,TT,TT,CC,CC,CC,TT,CC,CC,TT,TT,...,CC,CC,CC,TT,CC,CC,CC,TT,CC,CC

In [0]:
allele_pool = []
for egt in df_gt.loc[0].values:
  allele_pool += list(egt)
from collections import Counter
allele_count = dict(Counter(allele_pool))

In [0]:
allele_count

{'A': 18, 'C': 28}

In [0]:
allele_count.items()

dict_items([('C', 28), ('A', 18)])

In [0]:
allele_freq = {x:y/46 for x,y in allele_count.items()}

In [0]:
allele_freq

{'A': 0.391304347826087, 'C': 0.6086956521739131}

In [0]:
allele_freq_traditional = {}
for key in allele_count:
  count = allele_count[key]
  freq  = count/46 # 변수로 만들수이씀. 
  allele_freq_traditional[key] = freq

In [0]:
allele_freq_traditional

{'A': 0.391304347826087, 'C': 0.6086956521739131}

In [0]:
gt_frq = {} # ????

In [0]:
import numpy as np
from scipy.stats.distributions import chi2

gt_frq_dict = {}
for key1 in allele_freq_traditional:
  for key2 in allele_freq_traditional:
    alleles    = [key1,key2]
    alleles.sort()
    allele_frq = [allele_freq_traditional[x] for x in alleles]
    gt         = ''.join(alleles)
    gt_frq     = np.prod(allele_frq)
    try:
      gt_frq_dict[gt] += gt_frq
    except KeyError:
      gt_frq_dict[gt]  = gt_frq
      
gt_count_dict = {x:y*23 for x,y in gt_frq_dict.items()}
gt_count_est  = np.array(list(gt_count_dict.values()))
gt_count_obs  = np.array([list(df_gt.loc[0]).count(x) for x in gt_count_dict])
chisqr        = np.sum((gt_count_est - gt_count_obs)**2 / gt_count_est)
chi2.sf(chisqr,1)

1.6200139824664742e-06

In [0]:
test = [10,20]

In [0]:
import numpy as np

In [0]:
np.prod(test)

200